* {
    margin: 0;
} 
a {
    text-decoration: none;
}
img {
    margin: 0;
    padding: 0;
}
p {
    margin: 0;
}
ul {
    list-style: none;
    padding: 0;
}
body {
    overflow-x: hidden;
}
@font-face {
	font-family: 'HelveticaNeue'; 
	src: local('HelveticaNeue regular'),
		url('../fonts/helveticaneue.woff2'); 
}
@font-face {
	font-family: 'HelveticaNeue bold'; 
	src: local('HelveticaNeue bold'),
		url('../fonts/HelveticaNeueCyr-Bold.woff2'); 
}
header {
    height: 60px;
    background: #373A3C;
}
.header-container{
    max-width: 1080px;
    margin: 0 auto;
    font-family: 'HelveticaNeue';
    font-size: 16px;
}
.navbar-items {
    display: flex;
    color: #FFFFFF;
    justify-content: flex-end;
    padding-top: 11px;
    gap: 40px;
    align-items: center;
}
.navbar-item{
    opacity: 50%;
}
.header-logo {
    position: absolute;
    top: 15px
}
input[type="search" i] {
    width: 210px;
    height: 38px;
    color: #435766;
    font-size: 17px;
    border-radius: 4px;
    border: 1px solid #CCCCCC;
}
/* slider */
.slider-img {
    max-height: 50%;
    width: 100%;
}
.swiper-button-prev::after,
.swiper-button-next::after {
    color: #8DD83D;
}
.image-slider .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background-color: #8DD83D;
}
/* text */
.image-slider-slide {
    position: relative;
}
.slider-text {
    position: absolute;
    z-index: 3;
    width: 100%;
    height: 100%;
}
.slider-text__slide {
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: #FFFFFF;
    font-family: 'HelveticaNeue';
    font-size: 36px;
    line-height: 42px;
}
.slider-text__content {
    text-align: right;
    padding-right: 30%;
}
.slider-text__heading {
    padding-bottom: 134px;
}
.button-slider {
    height: 38px;
    width: 136px;
    border-radius: 4px;
}
.button-slider__button-1 {
    background-color: #8DD83D;
    color: #FFFFFF;
    font-size: 16px;
    padding: 9px 21px;
}
.button-slider__button-2 {
    background: linear-gradient(180deg, #686C6F 0%, #373A3C 100%);
    color: #FFFFFF;
    font-size: 16px;
    padding: 9px 21px;
}
.swiper-pagination {
    position: absolute;
}
.slider-pagination{
    display: flex;
    flex: 0 0 100px;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 44px;
}
/* section best */
.best {
    background: radial-gradient(100% 100% at 50% 0%, #686C6F 0%, #373A3C 100%);
}
.best__container {
    max-width: 1080px;
    margin: 0 auto;
    text-align: center;
}
.best__content {
    padding-top: 144px;
    color: #FFFFFF;
}
.best__caption {
    font-family: 'HelveticaNeue';
    font-size: 48px;
}
.best__descr {
    font-family: 'HelveticaNeue';
    font-size: 36px;
}
.best__cards-container {
    display: flex;
    gap: 64px;
    padding-top: 42px;
}
.best__card-item {
    max-width: 320px;
    max-height: 420px;
    background-color: #FFFFFF;
    border: 1px solid #8DD83D;
    border-radius: 4px;
    color: #435766;
    text-align: left;
    display: flex;
    flex-direction: column;
    margin-bottom: 162px;
}
.best__card-item-image {
    border-radius: 3px 3px 0 0;
}
.best__card-item-descr {
    font-family: 'HelveticaNeue';
    font-size: 18px;
    padding-top: 22px;
    padding-left: 22px;
}
.best__card-item-title {
    font-family: 'HelveticaNeue';
    font-size: 24px;
    padding-top: 13px;
    padding-left: 22px;
}
.best__card-item-btn {
    width: 278px;
    height: 60px;
    background-color: #8DD83D;
    color: #FFFFFF;
    border-radius: 4px;
    border: 0;
    font-family: 'HelveticaNeue';
    font-size: 16px;
    margin-bottom: 27px;
    margin-left: 22px;
    margin-top: 38px;
}
.exclusive {
    background-image: url('../img/exclusive.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.exclusive__caption {
    font-family: 'HelveticaNeue';
    font-size: 36px;
    color: #FFFFFF;
    margin: 0 auto;
    text-align: center;
    padding-top: 97px;
}
/* карточка */
.slider-card_container {
    display: flex;
    gap: 29px;
    justify-content: center;
    box-sizing: border-box;
    margin-bottom: 58px;
}
.slider-card_item {
    width: 320px;
    height: 420px;
    background: rgba(255, 255, 255, 0.91);
    border: 1px solid #8DD83D;
    border-radius: 4px;
    color: #435766;
    text-align: left;
    display: flex;
    flex-direction: column;
    margin-top: 54px;
    margin-bottom: 58px;
    opacity: 0,5;
    transition: 0.5s;
    padding-bottom: 27px;
}
.slider-card_item:hover {
    scale: 110%;
}
.slider-card_item__image {
    border-radius: 3px 3px 0 0;
}
.slider-card_item__descr {
    font-family: 'HelveticaNeue';
    font-size: 18px;
    padding-top: 22px;
    padding-left: 22px;
    max-width: 160px;
}
.slider-card_item__title {
    font-family: 'HelveticaNeue';
    font-size: 24px;
    padding-top: 13px;
    padding-left: 22px;
    max-width: 260px;
}
 .slider-card_item__btn {
    display: flex;
    justify-content: center;
    width: 278px;
    height: 60px;
    background-color: #8DD83D;
    color: #FFFFFF;
    border-radius: 4px;
    border: 0;
    font-family: 'HelveticaNeue';
    font-size: 16px;
    margin-bottom: 27px;
    margin-left: 22px;
    margin-top: 38px;
    align-items: center;
    text-align: center;
    padding-top: 19px;
    padding-bottom: 19px;
}
.store-btn {
    display: flex;
    justify-content: center;
    padding-bottom: 140px;
} 
.store {
    padding: 11px 47px 21px;
    background: linear-gradient(180deg, #686C6F 0%, #373A3C 100%);
    border-radius: 4px;
    margin: 0 auto;
    text-align: center;
    color: #FFFFFF;
    font-family: 'HelveticaNeue';
    font-size: 16px;
}
.design-lab {
    background-image: url('../img/design-lab.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.design-lab_container {
    display: flex;
    flex-direction: column;
    color: #FFFFFF;
    max-width: 1080px;
    justify-content: left;
    margin: 0 auto;
}
.design-lab_caption {
    font-family: 'HelveticaNeue';
    font-size: 48px;
    padding-top: 114px;
}
.design-lab_descr {
    max-width: 533px;
    font-family: 'HelveticaNeue';
    font-size: 24px;
    padding-top: 9px;
}
.design-lab_btn-container {
    display: flex;
    padding-top: 37px;
    padding-bottom: 145px;
    color: #FFFFFF;
    font-family: 'HelveticaNeue';
    font-size: 16px;
    gap: 15px;
}
.design-lab_design {
    padding: 20px 56px;
    background: linear-gradient(180deg, #686C6F 0%, #373A3C 100%);
    border-radius: 4px;
    color: #FFFFFF;
}
.design-lab_explore {
    padding: 20px 23px;
    background-color: #8DD83D;
    border-radius: 4px;
    color: #FFFFFF;
}
.footer {
    background-color: #373A3C;
}
.footer-container {
    max-width: 1080px;
    display: flex;
    padding-top: 58px;
    justify-content: left;
    margin: 0 auto;
    gap: 275px;
}
.footer-container_item {
    display: flex;
    flex-direction: column;
}
.footer-container_item__title {
    color: #7DD42F;
    font-family: 'HelveticaNeue bold';
    font-size: 18px;
    padding-bottom: 34px;
}
.footer-container_item__descr {
    color: #FFFFFF;
    font-family: 'HelveticaNeue';
    font-size: 14px;
    padding-bottom: 29px;
}
.footer-container_item__img {
    display: flex;
    gap: 20px;
}
.footer-down-info {
    position: relative;
    display: flex;
    max-width: 1200px;
    justify-content: space-between;
    margin: 0 auto;
    color: #FFFFFF;
    font-family: 'HelveticaNeue';
    font-size: 16px;
    padding-top: 41px;
    padding-bottom: 35px;
}
.language {
    text-align: left;
    flex-grow: 1;
}
.copyright {
    flex-grow: 1;
    text-align: right;
}
.footer-down-info::before {
    content: '';
    background-color: #D8D8D8;
    height: 1px;
    width: 1200px;
    position: absolute;
    top: 19px;
}